h1 {margin: auto;
    text-align: center;
    
}

.popisek {
    margin-left: 3px;
    margin-right: 5px;
    font-weight: bold;
}
.popisek_P{
    margin-left: 3px;
    margin-right: 29px;
    font-weight: bold;
}

.značky {
    margin-right: 10px;
    margin-left: 2px;
}

.místo {
    font-size: 105%;
    font-weight: bold;
    text-decoration: underline;
}